$primary: #035382;
$secondary: #008ad9;

$danger: #DA1E28;
$success: #108757;

.primary {
    color: $primary !important;
}

.secondary {
    color: $secondary !important;
}

.danger {
    color: $danger !important;
}

.success {
    color: $success !important;
}